h1, h2 {
    font-family: Oswald;
}
body {
    font-family: 'Open Sans';
    width: 950px;
    color: darkblue;
    margin: 10px, 50px, 10px, 50px;
    background-color: ivory;
}
img {
    float: left;
    margin: 10px;
}