
body {
    font-family: "Optima", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    background-image: url("https://github.com/anmell/ITM352_S23_repo/blob/main/Mellor_Alanna_Assignment1/Images/Flying%20cards.png?raw=true");
    background-repeat: repeat;
    background-position: center;
  }
  
  th {
    background-color: rgb(255, 251, 251);
    border-bottom: dashed, 2px;
    color: rgb(182, 18, 18);
  }
  
  table {
    border-collapse: collapse;
    border: 10 px;
    background-color: rgb(255, 251, 251);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  table td {
    border: none;
    padding: 20px;
  }
  footer {
    text-align:center;
  }